.actions {
    margin: 1em auto;
    text-align: center;
}

.arbol-container {
    max-width: 900px;
    width: 100%;
    margin: 1em auto;
    position: relative;
}

.arbol {
    width: 100%;
    filter: brightness(0.4);
}

.bolas img {
    position: absolute;
    width: 4%;
    height: auto;
    animation-name: light1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}


#start {
    padding: 6px 20px;
    background-color: rgb(15, 91, 190);
    color: white;
    border: none;
}

/*parte arriba*/

.ball1 {
    left: 45%;
    bottom: 72%;
}



.ball2 {
    left: 51%;
    bottom: 72%;
}

.ball3 {
    left: 41%;
    bottom: 64%;
}

.ball4 {
    left: 48%;
    bottom: 64%;
}

.ball5 {
    left: 55%;
    bottom: 64%;
}

.ball6 {
    left: 41%;
    bottom: 56%;
}

.ball7 {
    left: 49%;
    bottom: 56%;
}

.ball8 {
    left: 56%;
    bottom: 56%;
}

/*parte media*/

.ball9 {
    left: 38%;
    bottom: 48%;
}

.ball10 {
    left: 45%;
    bottom: 48%;
}

.ball11 {
    left: 52%;
    bottom: 48%;
}

.ball12 {
    left: 59%;
    bottom: 48%;
}


.ball13 {
    left: 32%;
    bottom: 39%;
}

.ball14 {
    left: 40%;
    bottom: 39%;
}

.ball15 {
    left: 48%;
    bottom: 39%;
}

.ball16 {
    left: 56%;
    bottom: 39%;
}

.ball17 {
    left: 64%;
    bottom: 39%;
}


.ball18 {
    left: 34%;
    bottom: 30%;
}

.ball19 {
    left: 44%;
    bottom: 30%;
}

.ball20 {
    left: 54%;
    bottom: 30%;
}

.ball21 {
    left: 63%;
    bottom: 30%;
}


/*empeiza ultimo*/
.ball22 {
    left: 30%;
    bottom: 22%;
}

.ball23 {
    left: 37%;
    bottom: 22%;
}

.ball24 {
    left: 44%;
    bottom: 22%;
}

.ball25 {
    left: 52%;
    bottom: 22%;
}

.ball26 {
    left: 59%;
    bottom: 22%;
}

.ball27 {
    left: 66%;
    bottom: 22%;
}


.ball28 {
    left: 23%;
    bottom: 12%;
}

.ball29 {
    left: 29%;
    bottom: 12%;
}

.ball30 {
    left: 35%;
    bottom: 12%;
}

.ball31 {
    left: 41%;
    bottom: 12%;
}

.ball32 {
    left: 47%;
    bottom: 12%;
}

.ball33 {
    left: 53%;
    bottom: 12%;
}

.ball34 {
    left: 60%;
    bottom: 12%;
}

.ball35 {
    left: 66%;
    bottom: 12%;
}

.ball36 {
    left: 72%;
    bottom: 12%;
}

@keyframes light1 {
    from {
        filter: brightness(1);
    }
    to {
        filter: brightness(1.8) drop-shadow(0 0 20px rgba(247, 210, 0));
    }
}

@keyframes light2 {
    from {
        filter: brightness(1);
    }
    to {
        filter: brightness(1.8) drop-shadow(0 0 20px rgba(247, 210, 0));
    }
}


.modal-container {
    opacity: 0;
    visibility: hidden;
    margin: 0;
    padding: 1%;
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}



.modal {
    margin: 10px;
    padding: 50px;
    width: 40%;
    height: 60%;
    background: white;
    color: darkgoldenrod;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 2s;
    transform: translateY(0%);
    border-color:goldenrod;
    border-radius: 25px;
}

.modal-close{
    transform: translateY(-200%);
}

.boton{
    color: white;
    width: 10%;
    height: 30px;
    background: #CE272D;
    border-radius: 25px;
    size: 75px;
    alignment: top;
}

#img{
    height: 10%;
    border-color: #0c63e4;
}

.close{
    position: absolute;
    top: 5px;
    right: 7px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: red;
    color: white;
    align-items: center;
    line-height: 25px;
    cursor: pointer;
}

.mini{
align-content: center;
    width: 50%;
}