
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 90px 20px 0;
}

.header {
    background-color: #0769e9;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
    background-color: #034574;
    transition: 0.5s;
}

/* TOGGLE */
.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}

/* MOBILE */
@media (max-width: 768px) {
    body {
        padding-top: 70px;
    }

    .header {
        height: 60px;
    }

    .logo {
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #2c3e50;
        position: fixed;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }

    .nav-menu-item {
        line-height: 70px;
    }

    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
        color: #83c5f7;
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu_visible {
        left: 0;
    }

    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }
}

.nav-movil {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #001628;;
    height: 70px;
    width: 100%;
}

@media screen and (max-width: 979px) {
    .nav-movil {
        display: block;
    }

    .nav-menu {
        display: none;
        margin-top: 70px;
    }

    .nav-menu li {
        float: none;
    }
    .nav-menu li a {
        padding: 20px;
        line-height: 20px;
    }
    .nav-menu li ul li a {
        padding-left: 30px;
    }

    .nav-submenu {
        position: static;
    }
}

@media screen and (min-width: 980px) {
    .nav-menu {
        display: block !important;
    }
}

#nav-boton {
    position: absolute;
    left: 20px;
    top: 25px;
    cursor: pointer;
    width:20px;
    height: 10px;
    padding: 5px 15px 15px 0px;
    z-index:1;
}

#nav-boton span,
#nav-boton span:after,
#nav-boton span:before {
    transition: all 500ms ease-in-out;
    border-radius: 1px;
    height: 5px;
    width: 40px;
    position: absolute;
    display: block;
    content: "";
    background: #fff;
}

#nav-boton span:before {
    top: -10px;
}
#nav-boton span:after {
    bottom: -10px;
}

#nav-boton.activo span {
    background-color: transparent;
}

#nav-boton.activo span:before,
#nav-boton.activo span:after {
    top: 0;
}

#nav-boton.activo span:after {
    transform: rotate(-45deg);
}

#nav-boton.activo span:before {
    transform: rotate(45deg);
}
