* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body { 
    min-height: 100vh;
   
    font-family: 'Raleway', sans-serif;
}

.titulo {
    font-size: 40px;
    font-family: 'Changa One';
    margin-bottom: 40px;
    color: #fff;
}

.subtitulo {
    margin: 0;
    color: #000;
    display: inline;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
}

.sabor { 
    color: #fff;
    margin: 7px 0;
    font-size: 40px;
    font-weight: 400;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Changa One';
    margin-top: 0;
}

.sabor2 { 
    color: #fff;
    margin: 7px 0;
    font-size: 30px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Changa One';
    margin-top: 0;
}
.linea-division {
    width: 80%;
    height: 2px;
    background-color: #36221c;
}

/*Estlios*/

.carousel .carousel-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 370px;
    height: 370px;
}

.carousel .carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
    border-radius: 15px;
}

.carousel .indicators .indicators-item{
    border-radius:0;
    transform: rotate(45deg);
    margin:0 15px;
    background-color:fuchsia;
}
@media (max-width: 575px) {
    .carousel .carousel-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        user-select: none;
        width: 200px;
        height: 200px;
    }

    .carousel .carousel-item img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top:0;
        left:0;
        z-index:-1;
        border-radius: 15px;
    }
    .carousel .carousel-item video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top:0;
        left:0;
        z-index:-1;
        border-radius: 15px;

    }
}